nav {
  background-color: rgb(46, 134, 132);
  line-height: 7rem;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  padding: 0.5rem 1rem;
  a {
    font-size: 1.5rem;
    color: #fff;
    background-color: #494949;
    padding: 1rem 1.2rem;
    border-radius: 50%;

    &:hover{
      background-color: rgb(174, 174, 174);
    }
  }
  
  
}
