*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #dbdbdb;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
}

.morePicture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    button{
        cursor: pointer;
        color: #333;
        padding: 1rem 2rem;
        font-size: 2rem;
        border: none;
        background-color:#a0a09e;
        &:hover{
            background-color: #00000000;
        }
    }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./about"