*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #dbdbdb;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./about"